@{
    ViewBag.Title = $"Kolegij" + ViewBag.Course.Name;
}

<div class="jumbotron">
    <h1>Tečaj @ViewBag.Course.Name</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-2">
                Id
            </div>
            <div class="col-md-10">
                <span id="Id">@ViewBag.Course.Id</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                Name
            </div>
            <div class="col-md-10">
                <input id="Name" value="@ViewBag.Course.Name" />
            </div>
        </div>
    </div>
</div>