@{
    ViewBag.Title = "Studenti";
}

<div class="jumbotron">
    <h1>Studenti</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Studenti</h2>
        <table>
            <tr>
                <td>ID</td>
                <td>Name</td>
            </tr>
            @foreach (var student in ViewBag.Students)
            {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@Html.ActionLink("Uredi", $"Card/{student.Id}", "Student")</td>
            </tr>
            }
        </table>
    </div>
</div>